In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('./original_data/Sleep_health_and_lifestyle_dataset.csv')

In [3]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

#### Get Sleep Duration vs Stress Level for the project

In [4]:
final_df = df[['Person ID', 'Gender', 'Sleep Duration', 'Stress Level']]

In [5]:
final_df = final_df.rename(columns={
    'Person ID': 'ID',
    'Sleep Duration': 'SleepDuration',
    'Stress Level': 'StressLevel'
})

In [6]:
final_df.set_index('ID', inplace=True)

In [12]:
final_df[final_df['StressLevel']>=7]

     Gender  SleepDuration  StressLevel
ID
2      Male            6.2            8
3      Male            6.2            8
4      Male            5.9            8
5      Male            5.9            8
6      Male            5.9            8
..      ...            ...          ...
308  Female            6.5            7
309  Female            6.6            7
310  Female            6.6            7
311  Female            6.6            7
312  Female            6.6            7

[120 rows x 3 columns]

In [8]:
final_df.to_csv('./project_data/Sleep_Stress.csv')